secrets:
  websupport-apikey:
    file: /service/docker/.secrets/websupport/APIKEY
  websupport-secret:
    file: /service/docker/.secrets/websupport/SECRET
  letsencrypt-email:
    file: /service/docker/.secrets/letsencrypt/email

services:
  reverse-proxy:
    image: traefik:v3.2
    command:
      #      - --api.insecure=true
      - --log.level=INFO
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.filename=/letsencrypt/config/dynamic.yml
      - --api.dashboard=true
      # Set up LetsEncrypt certificate resolver
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=websupport
      - --certificatesResolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      - --certificatesResolvers.letsencrypt.acme.dnschallenge.delayBeforeCheck=30
      #      - --certificatesresolvers.letsencrypt.acme.email=
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/certs/acme.json
      # staging environment of LE, remove for real certs
      #      - --certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      # Set up an insecure listener that redirects all traffic to TLS
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      # Set up the TLS configuration for our websecure listener
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main=mlocal.eu
      - --entrypoints.websecure.http.tls.domains[0].sans=*.mlocal.eu
    ports:
      - "80:80"
      - "443:443"
    secrets:
      - "websupport-apikey"
      - "websupport-secret"
      - "letsencrypt-email"
    environment:
      - "WEBSUPPORT_API_KEY_FILE=/run/secrets/websupport-apikey"
      - "WEBSUPPORT_SECRET_FILE=/run/secrets/websupport-secret"
      - "TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL_FILE=/run/secrets/letsencrypt-email"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /service/docker/certs:/letsencrypt/certs
      - /service/docker/config:/letsencrypt/config
    labels:
      traefik.enable: true
      # Dashboard
      traefik.http.routers.traefik.rule: Host(`traefik.mlocal.eu`)
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.entrypoints: websecure
